.price-table {
  padding: 80px 0;
}

.price-table h1 {
  text-align: center;
  margin: 20px 0 40px 0;
  letter-spacing: 2px;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.container .card {
  border: 2px solid #fff;
  text-align: center;
  padding: 30px 15px;
  border-radius: 3px;
  background: #111;
  transition: all 0.5s ease;
}

.container .card:hover {
  background: rgba(0, 0, 0, 0.453);
}

.container .card h4 {
  font-size: 25px;
  margin-bottom: 20px;
  letter-spacing: 3px;
}

.card .divider {
  height: 2px;
  width: 80px;
  background: rgb(248, 217, 15);
  margin: auto;
}

.container .card h1 {
  font-size: 45px;
  margin: 70px 0;
  letter-spacing: 5px;
}

.container .card ul li {
  color: #fff;
  margin: 25px 0;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1.5px;
}

/* Responsive part  */

@media (max-width: 768px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .container {
    grid-template-columns: repeat(1, 1fr);
  }
}
